/* FONTS */
	/* NORMAL */
	@font-face {
		font-family:'main';
		src: url('assets/fonts/GoogleSansFlex_72pt-Regular.ttf');
	}
	@font-face {
		font-family:'bold';
		src: url('assets/fonts/GoogleSansFlex_9pt-Bold.ttf');
	}
/* ROOT */
	html {
		/* 1 rem = 10px */
		font-size: 62.5%; 
	}
	:root {
		/* BACKGROUDNS */
		--backgroundMain: #FBFBFB;
		--backgroundDuo: #90e0bc;
		/* SOLID COLORS */
		--main: #D3D3D3;
		--main2: #8eedc2;
		--main3: #38a675;
		/* TEXT */
		--text1: #000000;
		--text2: #E0E0E0;
	}
/* GENERAL */
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		color: var(--text1);
		font-family:'main';
	}
	body {
		height: 100vh;
		overflow: auto;
		
	}
	header {
		border-bottom: 1px solid var(--main);
		background-color: var(--backgroundMain);
		position: sticky;
		top: 0;
		z-index: 100;
		width: 100%;
		height: 6rem;
		padding: 0 1rem;
		box-shadow: 0px 0px 8px #000000;
	}
	main {
		width: 100%;
		min-height: 100%;
		padding: 1rem 4rem;
		display: flex;
		align-items: center;
		flex-direction: column;
		background-color: var(--backgroundMain);
		background-image: linear-gradient(to bottom right, #F3F3F3, #E0E0E0, #F3F3F3);
	}
/* BOX CLASSES */
	.flexbox {
		display: flex;
	}
	.center {
		align-items: center;
	}
/* TASKS */
	#taskContainer {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 0.5rem;
	}
	.configuration {
		border: 2px solid var(--main);
		border-radius: 8px;
		background-color: var(--backgroundMain);
		flex-direction: column;
		justify-content: center;
		width: 50%;
		gap: 0.5rem;
		padding: 1rem;
		margin-bottom: 1.5rem;
	}
	.configuration button {
		height: 2rem;
	}
	.task {
		border: 2px solid var(--main);
		border-radius: 8px;
		background-color: var(--backgroundMain);
		display: grid;
		grid-template-columns: 1fr auto;
		width: 60%;
		justify-content: space-between;
		padding: 0.5rem;
		transition: 0.1s;
	}
	.task:hover {
		transform: scale(1.05);
		box-shadow: 0 0 8px #000000;
	}
	.task button {
		cursor: pointer;
		padding: 0.5rem;
	}
	.information {
		width: 100%;
		line-break: anywhere;
	}
	.description {
		flex-direction: row;
		gap: 4rem;
		width: 100%;
	}
	input, select {
		height: 3rem;
		font-size: 1.5rem;
		padding: 0.5rem;
		border: 1px solid var(--main);
		border-radius: 8px;
	}
	select:hover {
		cursor: pointer;
	}
	button {
		border: 1px solid var(--main);
		border-radius: 8px;
		cursor: pointer;
	}